# Flask Konfiguration
SECRET_KEY=HIER-EIGENEN-KEY-EINTRAGEN
BASE_URL=http://localhost:5000
FLASK_ENV=development

# SMTP (optional)
SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

# Have I Been Pwned (optional)
# https://haveibeenpwned.com/API/Key
HIBP_API_KEY=

# EmailRep (optional, kostenlos)
# https://emailrep.io/key
EMAILREP_API_KEY=